.orders {
    padding: 1rem 3rem;
}
.orders h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 600px) {
    .orders {
        padding: 1rem;
    }
    .order_id {
        position: static;
    }
}